{# Template of header of page #}
<div class="about-logo">
  <a href="{{ base_url }}/lendos">

    <img src="{{ base_url }}/sites/default/files/lendos_file/lendos-logo.png" alt="logo yopt" class="header-logo">

  </a>

</div>
