{# Template of header of page #}
<div class="about-logo">
  <a href="{{ base_url }}/lendos">

    <img src="{{ base_url }}/modules/custom/lendos/default-images/lendos-logo.png" alt="logo yopt" class="header-logo">

  </a>

</div>
