{# Template for print "success" message after submit   #}
{{ attach_library('lendos/scripts_lendos') }}
<div class="ok">
  <div class="message">
    <p class="success">
  Відгук був успішно доданий!
    </p>
  </div>
</div>
<div class="ok">
  <div class="link">
    <a href="{{ base_url }}/lendos/" class="link">Додати ще відгук</a>
  </div>
</div>
